<footer>
          <div>
            <ul>
              <li >Facebook</li>
              <li>Gmail</li>
              <li>Youtube</li>
              <li>Instagram</li>   
            </ul>
          </div>

</footer>